@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Baloo+Bhaijaan+2:wght@600&family=Baloo+Thambi+2:wght@600&family=Roboto:wght@400;500;900&display=swap');


@media only screen and (max-width: 1500) {
    .mainCard {
        height: 320px
    }
}

@media only screen and (max-width:520px) {
    .cards {
        width: 420px
    }
}

@media only screen and (max-width:451px) {
    .cards {
        width: 320px
    }
}

@media only screen and (max-width:335px) {
    .cards {
        width: 270px
    }
}